<section class="row pb-4">
    <header class="col-md-8">
        <h1>Health Records</h1>
        <p>Add your child's medical information to keep medical records organized and up-to-date.</p>
    </header>
    {{#if user}}
    <aside class="col-md-4 align-self-md-center text-md-end">
        <p>
            <a href="/records/create" class="btn btn-primary">
                <i class="bi bi-plus-lg pe-2"></i>Create New
            </a>
        </p>
    </aside>
    {{/if}}
</section>

<section class="row">
    {{#each records}}
    <article class="col-xl-4 col-md-6 mb-3">
        <div class="card">
            <header class="d-flex justify-content-between card-header p-3">
                <h5 class="mb-0">{{this.event}}</h5>
                <p class="mb-0"><small>by {{this.username}}</small></p>
            </header>
            <div class="card-body">
                <div class="row">
                    <div class="col col-lg-6">
                        <p class="mb-0"><small>Date</small></p>
                        <p>{{this.updatedDate}}</p>
                    </div>
                    <div class="col col-lg-6">
                        <p class="mb-0"><small>Child</small></p>
                        <p>{{this.child}}</p>
                    </div>
                </div>
                <p class="card-text">{{this.notes}}</p>
                <a href="/records/details/{{this.id}}" class="btn btn-outline-primary btn-sm mb-1">View</a>
            </div>
        </div>
    </article>
    {{/each}}
</section>
